.button {
  border: none;
  border-radius: 5px;
  transition: hover, 1.5s;
  font-weight: bold;
  background-color: var(--color-secondary);
}

.button:hover {
  background-color: rgb(238, 238, 106);
}

.hidden {
  visibility: hidden;
}