@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #e89ac7;
  --color-terciary: pink;
  --color-quaternary: #24325F99;
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-color: var(--color-quaternary);
  /*display: flex;
  justify-content: center;*/
}

main {
  flex-direction: column;
  gap: 10px;
  margin-top: 220px;
}

.title {
  font-size: 8rem;
  font-family: Fruktur;
  padding: 20px;
  /*background-color: var(--color-secondary); */
  position: fixed;
  border-radius: 20px;
  color: var(--color-secondary);
}