.search-bar-container {
  display: flex;
}

.search-bar {
  padding: 10px 15px;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 24px;
  border-radius: 5px;
  transition: hover, 1.5s;
  margin-bottom: 30px;
}

.search-bar:hover {
  background-color: var(--color-terciary);
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  padding: 5px;
  transition: hover, 1.5s;
}

.search-bar__icon:hover {
  border-radius: 5px;
  background-color: rgb(238, 238, 106);
}